*

!/bin
!/bin/**

!/docs
!/docs/**

!/.env
!/.gitignore

!/.github
!/.github/**

!/README.md

!/.editorconfig

!/src
!/src/**

!/package.json
!/yarn.lock
!/tsconfig.json

!/.rotate.js

!/test
!/test/**
!/.mocharc.yml

!/docker-compose.yml
!/Dockerfile
